.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  background: rgb(63,94,251);
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(58,31,167,1) 100%);
  min-height: 100vh;
}
